body{
    /* background: blue; */
}
.header {
    width: 62%; 
    height: 20px; 
    position: relative ;
    background-color: red;
    border-radius: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 20px 3% 30px 5% ;
    /* left: 25%; */
    margin-left: 20%;
    margin-right: 50%;
    margin-bottom: 0px;
    color: white;
    z-index: 1000;

}
.background-img{
    position: fixed;
    z-index: 10;
    top:-200px
    /* top:-20px; */
    
    

    
}
.links{
    position: absolute;
    margin-right: 25% ;
    right: -100px;
    /* background-color: white; */
    
    top: 45px;
    z-index: 1000;
    ;
}
a{
    text-decoration:none;
    color:teal;
}


.p {
    z-index: 100;
    background: white;
    color:black;
    width: 65% ;
    height: 100%;
    position: absolute;
    margin: 0 10% 0 20%;
    top: 100px;
    padding-left:5% ;
    padding-bottom: 5%;
    box-shadow: whitesmoke;
    
}
.main{
    /* margin-left: 25%; */
    background: white;
    width: 75%;

}
h2{
    width: 200px;
    height: 20px;
    color: red;

}
.profile-pic{
    width: 20%;
    height: 30%;
    /* position: relative; */
    float: left;
    padding-right: 13px;

}
hr{
    margin: 0 auto;
}
.port-pic{ 
        /* position: relative; */
        /* z-index: 100; */
    /* background: white; */
    /* color:black; */
    /* width: 50% ; */
    /* height: auto; */
    
    /* margin: 0 10% 0 10%; */
    /* top: 20px; */
    /* padding-left:20px ; */

    
}
.pic1{
    position: absolute;
    left: 7%;
    top: 15%;
    width: 30%;
    height: auto;
}
.pic2{
    position: absolute;
    
    
    width: px;
    height: auto;
}
.pic3{
    position: absolute;
    left: 20%;
    width: 30%;
    height: auto;

    top: 0%;
}
.pic4{
    position: absolute;
    left: 51%;
    top: 0%;
    width: 30%;
    height: auto;
}
.pic5{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 30%;
    height: auto;
}
.pic{
    position: absolute;
    top: 51%;
    left: 0%;
    
}

.form{
    z-index: 100000;
}
.large{ 
    row
}
figure{
    height: 30px;
    width: 30%;
    background-color: red;
    

}
.box1{ position: absolute;
    text-align: center;
    padding-top: 3%;
    top: 26%;
    right: 55%;

}
.box2{
     /* text-align: center;
    padding-top: 3%; */
    /* top: 26%;
    right: 11%; */
    
    width: 200px;
    
    
   
    

}
.box3{ 
    width: 200px;
    

}
.box4{ 
    /* position: absolute; text-align: center;
    padding-top: 3%; */
    width: 200px;

}
.box5{
    /* position: absolute; text-align: center;
    padding-top: 3%; */
    width: 200px;

}
.box6{
    /* position: absolute; text-align: center;
    padding-top: 3%; */
    width: 200px;

}
.picture{

    width: 30%;
    height: auto;
}
.footer{

    width: 150%;
    height: 50px;
    border-top: 8px solid #4aaaa5;
    position: fixed;
    bottom:-5%;
    left: -9%;
    /* top:; */
    
    z-index: 10000000000000000000000000;
}
.box{
    text-align: center;
    padding-top: 3%;

}
.test1{
    position: absolute;
        display: inline-block;

}
.test1 .text{
    background-color: tomato;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 97%; /* Set the width of the positioned div */
}
.test2 .text{
    background-color: tomato;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 97%; /* Set the width of the positioned div */
}
.test3 .text{
    background-color: tomato;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 97%; /* Set the width of the positioned div */
}
.test4 .text{
    background-color: tomato;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 97%; /* Set the width of the positioned div */
}
.test5 .text{
    background-color: tomato;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 97%; /* Set the width of the positioned div */
}

.test2{
    position: absolute;
        display: inline-block;
        left: 40%;

}
.test3{
    position: absolute;
        display: inline-block;
        top: 278px;

}
.test4{
    position: absolute;
        display: inline-block;
        top: 278px;
        left: 40%;

}
.test5{
    position: absolute;
        display: inline-block;
        top: 514px;
        

}

